version: '3.4'
services:
  ### ORACLE
  oracle:
    image: docker.pkg.github.com/p2pderivatives/p2pderivatives-oracle/oracle:v0.1.0-pre4
    environment:
      P2PDORACLE_DATABASE_HOST: oracle-db
      P2PDORACLE_DATABASE_DBPASSWORD: 1234
      P2PDORACLE_DATABASE_CONNECTIONPARAMS: 'sslmode=disable'
    restart: always
    depends_on:
      - oracle-db
    ports:
      - 8080:8080
    volumes:
      - ./services/oracle/key:/key
      - ./services/oracle/config:/config
  oracle-db:
    image: 'postgres:12.2'
    command: |
      -c ssl=off
    restart: always
    ports:
      - 5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: db
    volumes:
      - oracle-db-data:/var/lib/postgresql/data/

  ### SERVER
  server:
    image: docker.pkg.github.com/p2pderivatives/p2pderivatives-server/server:v0.0.2
    environment:
      P2PDSERVER_DATABASE_HOST: server-db
      P2PDSERVER_DATABASE_DBPASSWORD: 1234
      P2PDSERVER_DATABASE_CONNECTIONPARAMS: 'sslmode=disable'
    restart: always
    depends_on:
      - server-db
    ports:
      - 8081:8080
    volumes:
      - ./services/server/config:/config
      - ./services/server/scripts:/scripts

  server-db:
    image: 'postgres:12.2'
    command: |
      -c ssl=off
    restart: always
    ports:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=db
    volumes:
      - server-db-data:/var/lib/postgresql/data/

  ### BITCOIND
  bitcoind:
    image: ruimarinho/bitcoin-core:0.20.0
    command: |
      -conf=/config/default.conf
      -printtoconsole
      -regtest
    ports:
      # regtest ports
      - 18443:18443
      - 18444:18444
    volumes:
      - bitcoind-data:/home/bitcoin/.bitcoin
      - ./services/bitcoind/config:/config
      - ./services/bitcoind/scripts:/scripts
      - ./services/bitcoind/vectors:/vectors

volumes:
  oracle-db-data:
  server-db-data:
  bitcoind-data:
